<div id="game-area">
  <aim-target ng-repeat="target in targets track by target"
              callback="updateScore(wasClicked, id)"
              id="{{target}}"
              paused="{{gameState.gamePaused}}">
  </aim-target>
</div>
<div id="paused-overlay"
     class="overlay"
     ng-hide="!gameState.gamePaused">
  <p id="paused-header">paused</p>
  <p>press space to unpause</p>
</div>
<div id="timer-overlay"
     class="overlay"
     ng-hide="gameState.gamePaused">
  <p>{{gameStats.time.value}}</p>
</div>