<div id="score-board">
  <ul>
    <li>Score: {{gameStats.score.value}}</li>
    <li>Lives: {{gameStats.lives.value}}</li>
    <li>Accuracy: {{gameStats.accuracy.value}}%</li>
    <li>{{config.targetsPerSecond.shortName}}: {{config.targetsPerSecond.value}}</li>
  </ul>
  <div id="button-holder">
    <button id="pause-button"
            class="secondary"
            ng-click="commands.togglePauseGame()"
            ng-if="gameState.gameActive">
      <div ng-if="gameState.gamePaused" class="icon">
        <svg><use xlink:href="#icon-play"></use></svg>
      </div>
      <div ng-if="!gameState.gamePaused" class="icon">
        <svg><use xlink:href="#icon-pause"></use></svg>
      </div>
    </button>
    <button id="end-button" ng-show="gameState.gameActive" ng-click="commands.endGame()">
      <div class="icon">
        <svg><use xlink:href="#icon-exit"></use></svg>
      </div>
    </button>
  </div>
</div>