<div id="start-screen">
  <div class="options-toggle"
       ng-click="toggleOpenOptions()">
    <svg><use xlink:href="#icon-options"></use></svg>
  </div>
  <options ng-class="{active: optionsIsOpen}"></options>
  <div id="start-screen-body" ng-class="{custom: gameState.custom}">
    <div id="start-buttons" class="vertical-holder" >
      <button class="primary" ng-click="commands.startDefaultGame()" title="Start Game">
        Time Trial<div class="icon">@@timer-replace</div>
      </button>
      <button class="secondary" ng-click="gameState.custom = true" title="Start Game">
        Custom Mode
      </button>
    </div>
    <div id="config" class="vertical-holder">
      <div class="controls">
        <button class="secondary" ng-click="gameState.custom = false" class="back-button" title="Back">
          <div class="icon"><svg><use xlink:href="#icon-back"></use></svg></svg>
        </button>
        <button class="primary" ng-click="commands.startGame()"  title="Start Game">
          Play<div class="icon"><svg><use xlink:href="#icon-play"></use></svg></div>
        </button>
      </div>
      <div id="targets-per-second">
        <p>{{config.targetsPerSecond.name}}</p>
        <input type="number" ng-model="config.targetsPerSecond.value"/>
      </div>
      <div id="acceleration">
        <label title="{{config.acceleration.tooltip}}" for="acceleration-check">
          {{config.acceleration.name}}
          <span class="{{config.acceleration.value === true ? 'active' : ''}}">
            {{config.acceleration.value === true ? 'ON' : 'OFF' }}
          <span>
        </label>
        <input id="acceleration-check" type="checkbox" ng-model="config.acceleration.value"/>
      </div>
    </div>
  </div>
</div>