<div id="start-screen">
  <div class="options-toggle"
       ng-click="toggleOpenOptions()">
    <svg><use xlink:href="#icon-options"></use></svg>
  </div>
  <options ng-class="{active: optionsIsOpen}"></options>
  <div id="start-screen-body" ng-class="{custom: gameState.custom}">
    <div id="start-buttons" class="vertical-holder" >
      <button ng-click="commands.startCompetitiveGame()" title="Start Game">
        Competitive
      </button>
      <button ng-click="gameState.custom = true" title="Start Game">
        Custom Mode
      </button>
    </div>
    <div id="config" class="vertical-holder">
      <div class="controls">
      <button ng-click="gameState.custom = false" class="back-button" title="Back">
        <svg><use xlink:href="#icon-back"></use></svg>
      </button>
      <button ng-click="commands.startGame()" class="start-button" title="Start Game">
        <span>Play</span><svg><use xlink:href="#icon-start"></use></svg>
      </button>
      </div>
      <div id="targets-per-second">
        <p>{{config.targetsPerSecond.name}}</p>
        <input type="number" ng-model="config.targetsPerSecond.value"/>
      </div>
      <div id="acceleration">
        <label title="{{config.acceleration.tooltip}}" for="acceleration-check">
          {{config.acceleration.name}}
          <span class="{{config.acceleration.value === true ? 'active' : ''}}">
            {{config.acceleration.value === true ? 'ON' : 'OFF' }}
          <span>
        </label>
        <input id="acceleration-check" type="checkbox" ng-model="config.acceleration.value"/>
      </div>
    </div>
  </div>
  <p id="losing-message" ng-show="gameState.isLoser">You lost !!</p>
</div>