@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  cursor: default;
  width: 783px;
  height: 600px;
  user-select: none; }

p span label h1 h2 {
  margin: 0;
  padding: 0; }

#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddf; }
  #main #start-screen {
    display: flex;
    flex-direction: column;
    text-align: center; }
    #main #start-screen button {
      background: #69f;
      font-size: 1.3rem;
      padding: 5px;
      margin: 20px 0px; }
      #main #start-screen button:hover {
        background: #48f; }
      #main #start-screen button:active {
        outline: #67f auto 4px; }
    #main #start-screen #config {
      width: 180px;
      border: 1px solid #69f;
      margin: 4px; }
      #main #start-screen #config #targets-per-second p {
        margin: 5px;
        font-size: 1.1rem; }
      #main #start-screen #config #targets-per-second input {
        text-align: center;
        width: 80%;
        font-size: 1.1rem; }
        #main #start-screen #config #targets-per-second input:active {
          border: 2px solid #67f; }
      #main #start-screen #config #targets-per-second input[type=number]::-webkit-inner-spin-button,
      #main #start-screen #config #targets-per-second input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      #main #start-screen #config #acceleration {
        height: 28px;
        margin: 3px; }
        #main #start-screen #config #acceleration label {
          font-size: 1.1rem;
          line-height: 28px;
          cursor: pointer; }
          #main #start-screen #config #acceleration label span {
            font-size: 0.9rem;
            color: red; }
            #main #start-screen #config #acceleration label span.active {
              color: #fff; }
        #main #start-screen #config #acceleration input[type='checkbox'] {
          display: none; }
    #main #start-screen #losing-message {
      color: #fff;
      background: #f44;
      padding: 20px;
      margin: 20px 0px;
      font-size: 1.1rem; }
  #main game-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: initial; }
    #main game-area #game-area {
      height: 100%;
      width: 100%;
      user-select: none; }
      #main game-area #game-area aim-target {
        position: absolute;
        z-index: 999999;
        pointer-events: none; }
        #main game-area #game-area aim-target .inner-circle {
          pointer-events: initial;
          animation: inner-explosion 3s linear; }
        #main game-area #game-area aim-target .outer-circle {
          pointer-events: initial;
          animation: outer-explosion 3s linear; }
        #main game-area #game-area aim-target .outer-circle:hover {
          fill: red; }
    #main game-area .overlay {
      user-select: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 60px;
      left: 0;
      opacity: 0.6;
      z-index: 18000; }
    #main game-area #paused-overlay {
      background: #bbb;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      #main game-area #paused-overlay p {
        font-size: 1.0rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold; }
        #main game-area #paused-overlay p kbd {
          border: 2px solid #fff;
          font-size: 1.0rem;
          padding: 4px; }
        #main game-area #paused-overlay p#paused-header {
          font-size: 2.0rem;
          text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc; }
    #main game-area #lives-overlay {
      pointer-events: none;
      background-image: radial-gradient(#ccc, red);
      transition: opacity linear 0.5s;
      opacity: 0; }
      #main game-area #lives-overlay.full {
        opacity: 0; }
      #main game-area #lives-overlay.two {
        opacity: .05; }
      #main game-area #lives-overlay.one {
        opacity: .125; }
      #main game-area #lives-overlay.zero {
        opacity: .5;
        pointer-events: initial; }
  #main #score-board {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #69f;
    align-items: center; }
    #main #score-board ul {
      padding: 2px;
      list-style: none;
      display: flex; }
      #main #score-board ul li {
        font-size: 1.0rem;
        padding: 0px 10px;
        user-select: none; }
    #main #score-board #button-holder {
      margin-left: auto;
      margin-right: 10px; }
      #main #score-board #button-holder button {
        margin: 7px;
        font-size: 1.0rem;
        padding: 5px; }
      #main #score-board #button-holder #pause-button {
        background: #ee7; }
      #main #score-board #button-holder #end-button {
        background: #f69; }

button {
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer; }
  button:active {
    outline-offset: -2px; }

@keyframes inner-explosion {
  0%, 100% {
    r: 0; }
  50% {
    r: 20%; } }
@keyframes outer-explosion {
  0%, 100% {
    r: 0; }
  50% {
    r: 50%; } }

/*# sourceMappingURL=main.css.map */
