$green: #00743f;
$dark-blue: #192e5b;
$blue: #1d65a6;
$light-blue: #72a2c0;
$gold: #f2a104;

$background-color: $light-blue;
$game-background-color: $light-blue;
$background-accent: $dark-blue;
$text-color: $dark-blue;
