$peach: #f69e7b;
$navy: #383e56;
$accent: #d4b5b0;
$light: #eedad1;

$background-color: $light;
$game-background-color: $navy;
$background-accent: $navy;
$text-color: $navy;

$border-color: $navy;

$hit-marker-color: $navy;
