 #score-board {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: @main-blue;
  align-items: center;
  ul {
    padding: 2px;
    list-style: none;
    display: flex;
    li {
      font-size: 1.0rem;
      padding: 0px 10px;
      user-select: none;
    }
  }
  #button-holder {
    margin-left: auto;
    margin-right: 10px;
    button {
      margin: 7px;
      font-size: 1.0rem;
      padding: 5px;
    }
    #pause-button {
      background: @main-yellow;
      border: 2px solid @main-yellow;
      &:hover {
        border-color: @main-white;
      }
    }
    #end-button {
      background: @main-red;
      border: 2px solid @main-red;
      &:hover {
        border-color: @main-white;
      }
    }
  }
}