@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

$main-yellow: #FFE74C;
$main-red: #FF5964;
$background-color: #EBF2FA;
$main-green: #6BF178;
$main-blue: #35A7FF;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  cursor: default;
  width: 783px;
  height: 600px;
  user-select: none;
}

p span label h1 h2 {
  margin: 0;
  padding: 0;
}

#main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $background-color;
  #start-screen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .options-toggle {
      position: absolute;
      top: 5px;
      left: 5px;
      cursor: pointer;

      > svg {
        fill: $main-blue;
        width: 32px;
        height: 32px;
      }

      &:hover {
        > svg {
          fill: mix($background-color, $main-green, 20%);
        }
      }
    }

    #options {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      transform: translate(-100%, -100%);
      transition: all 0.25s ease-in;
      display: flex;
      flex-direction: column;
      text-align: center;
      background: $main-blue;

      &.active {
        transform: translate(0%, 0%);
        visibility: visible;
        opacity: 1;
      }

      .options-toggle {
        > svg {
          fill: $background-color;
          width: 32px;
          height: 32px;
        }
        &:hover {
          > svg {
            fill: mix($background-color, $main-red, 20%);
          }
        }
      }
    }

    #start-screen-body {
      display: flex;
      flex-direction: column;
      text-align: center;
      button {
        background: $main-blue;
        font-size: 1.3rem;
        padding: 5px;
        margin: 20px 0px;
        &:hover {
          background: #48f;
        }
        &:active {
          outline: #67f auto 4px;
        }
      }
      #config {
        width: 180px;
        border: 1px solid $main-blue;
        margin: 4px;

        #targets-per-second {
          p {
            margin: 5px;
            font-size: 1.1rem;
          }
          input {
            text-align: center;
            width: 80%;
            font-size: 1.1rem;
            &:active {
              border: 2px solid #67f;
            }
          }
          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
        #acceleration {
          height: 28px;
          margin: 3px;
          label {
            font-size: 1.1rem;
            line-height: 28px;
            cursor: pointer;

            span {
              font-size: 0.9rem;
              color: red;

              &.active {
                color: #fff;
              }
            }
          }

          input[type='checkbox'] {
            display: none;
          }
        }
      }
      #losing-message {
        color: #fff;
        background: #f44;
        padding: 20px;
        margin: 20px 0px;
        font-size: 1.1rem;
      }
    }
  }
  game-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: initial;

    #game-area {
      position: absolute;
      top: 40px;
      left: 40px;
      right: 40px;
      bottom: 40px;
      user-select: none;
      aim-target {
        position: absolute;
        z-index: 17000;
        pointer-events: none;
        .inner-circle {
          pointer-events: initial;
          animation: inner-explosion 4s linear;
        }
        .outer-circle {
          pointer-events: initial;
          animation: outer-explosion 4s linear;
        }
        .outer-circle:hover {
          fill: red;
        }
      }
    }
    .overlay {
      user-select: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 60px;
      left: 0;
      opacity: 0.6;
      z-index: 18000;
    }
    #paused-overlay {
      background: #bbb;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-size: 1.0rem;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: bold;

        &#paused-header {
          font-size: 2.0rem;
          text-shadow: -1px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;
        }
      }
    }
    #timer-overlay {
      pointer-events: none;
      background: transparent;
      text-align: center;
      p {
        font-size: 60px;
        color: $background-color;
        text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
      }
    }
  }
  #score-board {
      position: absolute;
      display: flex;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
      background: $main-blue;
      align-items: center;
      ul {
        padding: 2px;
        list-style: none;
        display: flex;
        li {
          font-size: 1.0rem;
          padding: 0px 10px;
          user-select: none;
        }
      }
      #button-holder {
        margin-left: auto;
        margin-right: 10px;
        button {
          margin: 7px;
          font-size: 1.0rem;
          padding: 5px;
        }
        #pause-button {
          background: #ee7;
          &:hover {
            background: lighten(#ee7, 20%);
          }
        }
        #end-button {
          background: #f69;
          &:hover {
            background: lighten(#f69, 20%);
          }
        }
      }
    }
}

button {
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;

  &:active {
    outline-offset: -2px;
  }
}

@keyframes inner-explosion {
  0%, 100% {
    r: 0;
  }
  50% {
    r: 20%;
  }
}

@keyframes outer-explosion {
  0%, 100% {
    r: 0;
  }
  50% {
    r: 50%;
  }
}